@font-face {
    font-family: "montserratBlack";
    src: url("../fonts/Montserrat-Black.ttf");
}
@font-face {
    font-family: "montserratBold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "montserratExtraBold";
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "montserratMedium";
    src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "montserratRegular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

*{
    margin: 0rem;
    padding: 0rem;
    font-family: "montserratRegular";
}

body{
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

/* Home page */
.loRegMain{
    display: flex;
    flex-direction: row;
}

.loRegHome{
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 50%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.loRegHome h1{
    color: #fff;
    font-family: "montserratBold";
    font-size: 5rem;
}

.loRegHome img{
    position: relative;
    width: 50%;
}

.loRegForm{
    align-self: center;
    width: 40%;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0rem 0rem .3rem 0rem #000;
    outline: none;
}

.loRegForm form h1{
    font-family: "montserratExtraBold";
    text-align: center;
    color: #eee;
}

.loRegForm label{
    font-family: "montserratBold";
    color: #eee;
}

/* secretaire Style */

#pagetitle{
    font-family: "montserratExtraBold";
    text-align: center;
    color: #eee;
}

.secretaire form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.patient-search-field{
    width: 80%;
}

.show-patient{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.patients-field{
    height: 70vh;
    width: 80%;
    overflow: scroll;
    background-color: rgba(238, 238, 238, 0.8);
    padding: 1rem;
    border-radius: .5rem;
}
.oprations{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
}

.oprations h1{
    font-family: "montserratBold";
    color: #eee;
}

.consluteButton{
    color: #007ee5;
    cursor: pointer;
    font-family: "montserratBold";
}

.consluteButton:hover{
    color: #005ba5;
}

.factureBtn{
    font-family: 'MontserratBold';
    color: #007ee5;
    cursor: pointer;
}

.factureBtn:hover{
    color: #005ba5;
}

/* Ajouter partient (secretaire) */

.add-patient-form{
    padding: 1rem;
}

.add-patient-form label{
    font-family: "montserratBold";
    color: #eee;
}

/* demander une analyse */

.demande-analyse{
    padding: 1rem;
}

.convention-patient-add{
    padding: 1rem;
}

.voireBtn{
    color: #191919;
}

/* Comptable Section */


.comptable-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* analyse part */
.comptable-analyse-container table{
    color: #eee;
}

.comptable-analyse-container table tbody tr:hover{
    background-color: #FC4445;
    cursor: pointer;
}

.comptable-analyse-container fieldset{
    border: .1rem solid #eee;
    border-radius: .5rem;
    padding: 2rem;
}

.comptable-analyse-container legend{
    color: #eee;
    font-family: "montserratBold";
    font-size: 1rem;
}

.show-analyse{
    position: relative;
    top: 1rem;
    border: .1rem solid #eee;
    border-radius: .5rem;
    height: 40vh;
    overflow: scroll;
}

/* convention part */
.comptable-convention-container table{
    color: #eee;
}

.comptable-convention-container table tbody tr:hover{
    background-color: #FC4445;
    cursor: pointer;
}

.comptable-convention-container fieldset{
    border: .1rem solid #eee;
    border-radius: .5rem;
    padding: 2rem;
}

.comptable-convention-container legend{
    color: #eee;
    font-family: "montserratBold";
    font-size: 1rem;
}

.show-convention{
    position: relative;
    top: 1rem;
    border: .1rem solid #eee;
    border-radius: .5rem;
    height: 30vh;
    overflow: scroll;
}

#analyse-search-form{
    margin: 1rem;
    margin-top: 2rem;
}

#convention-search-form{
    margin: 1rem;
    margin-top: 2rem;
}

/* laboratin section */
.laboratin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.laboratin-container form{
    display: flex;
    flex-direction: row;
}

.labtab{
    overflow-y: scroll;
}

.search-input{
    width: 100%;
}

.search-btn{
    width: 20%;
}

#lab-search{
    width: 90%;
}

#laboratin-table{
    background-color: rgba(255, 255, 255, 0.5);
}

#laboratin-table tr{
    color: #191919;
}

.resultBtn{
    color: #007ee5;
    cursor: pointer;
}

.resultBtn:hover{
    color: #005296;
}

.result-lab-container{
    padding: 1rem;
}

#deconnect-lab{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

/* specialiste section */

.resultat-container{
    color: #eee;
    padding: 1rem;
}

.remark-field{
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    margin-bottom: .5rem;
}

#getTypeData{
    margin-bottom: 1rem;
}
